{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="HomeHeader">
        <h1>Classic Models</h1>
        <button class="list"><a href="products/list">Liste des produits</a></button>
        <button class="addItem"><a href="products/add">Ajouter un produit</a></button>
    </div>
{% endblock %}
